.main {
    background-color: #004047;
}

.cube{
    width: 100px;
    left: 0;
}

.text{
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    font-family: Livvic;
}

.card{
    width: 350px;
    height: 253px;

    background-color: #012F34;
    margin: 10px;
    text-align: center;
    font-family: Livvic;
    color: #FFFFFF;
}

.imageCard{
    width: 96px;
    height: 96px;
    margin-top: 20px;
}

.titleTxt{
    color: #79C8C7;
}

.group {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}   

footer{
    height: 30px;
    bottom: 0px;
}

img.figura{
    width: 200px;
    height: 144px;
    /* margin-top: 56px; */
    margin-left: 0px;
    /* margin-right: auto; */
    position: absolute;
    left: 0;

}

.black-text{
    color: black;
}


.media{
    display: flex;
    row-gap: 10px;
    font-size: 25px;
    color: white;
    height: 30px;
    width: 120px;
    cursor:pointer;
}

.imageGroup
{
    scale: 50%;
}