body{
  background-color: #014E56;
  margin: 0;
  }

  .myteam {
      position: absolute;
      top: 77px;
      left: 165px;
  }
 
  .home {
      position: absolute;
      top: 83px;
      left: 405px;
      color: #FFF;
      text-decoration: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
      font-family: Livvic;
  }

  .about {
      position: absolute;
      top: 83px;
      left: 494px;
      color: #FFF;
     font-family: Livvic;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
     line-height: 28px;
     text-align: center   ;
     text-decoration: none;
  }

  .textt {
      top: 285px;
     
      left: 545px;
      color: #FFF;
      font-family: Livvic;
      font-size: 18px;
      font-style: normal;
      text-align: left;
      font-weight: 600;
      line-height: 28px;
      position: absolute;
      width: 730px;
      height: 112px;
     
     
  }

  .aboutTxt {
      position: absolute;
      top: 164px;
      right: 925px;
      left: 165px;
      color: #FFF;
      font-family: Livvic;
      font-size: 64px;
      font-style: normal;
      text-align: left;
      font-weight: 700;
      line-height: 100px;
      width: 350px;
  }

  .circe {
      position: absolute;
      top: 317px;
      right: 0px;
      /* width: 150px; */
      height: 200px;
      flex-shrink: 0;
  }

  #topmenu{
      /* width: 100%; */
      height: 517px;
      background-color: #014E56;
      /* text-align: center; */
      margin: 0 auto;
      text-align: center;
      align-items: center;    
     
      /* padding-top: 77px; */
      /* padding-right: 1115px; */
     

  }

  div #topmenu{
      text-align: center;
      margin: 0 auto;
  }
  .rengtangle {
      border-radius: 24px;
      border: 2px solid #ffffff;
      width: 153px;
      height: 48px;
      background-color: transparent;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      color: white;
      position: absolute;
      top: 73px;
      right: 165px;
      left: 1122px;
      text-align: center;
  }

    .myteam {
        position: absolute;
        top: 77px;
        left: 165px;
    }

    .topmenu{
        width: 1440px;
        height: 517px;
    }

    .Rectangle{
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    }
    
    .line {
      width: 50px;
      height: 4px;
      background-color: #f67e7e;
      position: absolute;
      top: 241px;
      left: 545px;
      }

    .home {
        position: absolute;
        top: 83px;
        left: 405px;
        color: #FFF;
        text-decoration: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        font-family: Livvic;
    }

    .about {
        position: absolute;
        top: 83px;
        left: 494px;
        color: #FFF;
       font-family: Livvic;
       font-size: 18px;
       font-style: normal;
       font-weight: 600;
       line-height: 28px;
       text-align: center   ;
       text-decoration: none;
    }

/*footer*/

.footer{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.button1{
  text-align: center;
  justify-content: center;
  margin-top: auto;
}

.home2{
  color: #FFF;
  margin-top: 83px;
  margin-left: -150px;
  position: absolute;
  font-family: Livvic;
  font-size: 20px;
  text-decoration: none;
}

.about2{
  color: #FFF;
  margin-top: 83px;
  margin-left: -80px;
  position: absolute;
  font-family: Livvic;
  font-size: 20px;
  text-decoration: none;
}

.myteam2{
  margin-left: 5vw;
  margin-top: 2vw;
}

.media{
display: flex;
row-gap: 10px;
font-size: 25px;
color: white;
}


.media2,.media3,.media4{
  width: 40px;
}
.media2:hover,.media3:hover,.media4:hover{
  color: #F67E7E;
  transition: 0.3s;
}

.p2{
  margin-left: 511px;
  display: flex;
  width: 100%;
}

.graytext{
  margin-left: 100px;
  font-size: 17px;
  color: gray;
}

#contact{
  display: grid
  ;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      /* max-width: 1200px; */
      margin: 0 auto;
      background-color: #002529;
      padding: 50px;
}

.banner{          
background-color: #F67E7E;
font-family: Livvic;
font-style: normal;
font-weight: 700;
line-height: 48px;
margin: auto;
height: 200px; padding:20px;
}

.plusbutton{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-repeat: no-repeat;
  justify-self: center;
  align-content: center;
  background-color: #F67E7E;
  color: #012F34;
}

.plusbutton:hover{
  background-color: #79C8C7;
  color: #012F34;
  rotate: 45deg;
  transition: 0.3s;
}


/* .card:hover{
  transition: 0.3s;
} */