body
{
    background-color: #014E56; 
}
    /* mobile */
    @media (width: 767px) {
    .myteam {
        margin: 0;
    }  

    .topmenu{
        text-align: center;
        margin: auto;
    }

    
    .home {
        color: #FFF;
        /* margin-top: 83px;
        margin-left: 405px; */
        top: 200px;
       
        font-family: Livvic;
        text-decoration: none;
    }
    
    .aboutTxt
    {
        position: absolute ;
        color: #FFFFFF;
        text-align: left;
        font-size: 100px;
        line-height: 100px;
        font-family: Livvic;
        margin-left: 165px;
        margin-top: 250px;
    }

    .circe{
       /* margin-top: 388px; */
        top: 341px;
        right: -23px;
        /* margin-right: 10px; */
        /* margin-left: 156px; */
        /* width: 100px; */
        height: 130px;
        position: absolute;
        width: 77px;
    }
}


.circe
{
    top: 100px;
    right: 0;   
    height: 250px;
    position: absolute;
    width: 130px;
}

.footer
{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.home2
{
    color: #FFF;
    margin-top: 83px;
    margin-left: -150px;
    position: absolute;
    font-family: Livvic;
    font-size: 20px;
    text-decoration: none;
}

.about2
{
    color: #FFF;
    margin-top: 83px;
    margin-left: -80px;
    position: absolute;
    font-family: Livvic;
    font-size: 20px;
    text-decoration: none;
}

.myteam2
{
    margin-left: 5vw;
    margin-top: 2vw;
}

.topmenu
{
    margin-bottom: 517px;
}

.media
{
    display: flex;
    row-gap: 10px;
    font-size: 25px;
    color: white;
}


.media2,.media3,.media4
{
    width: 40px;
}
.media2:hover,.media3:hover,.media4:hover
{
    color: #F67E7E;
    transition: 0.3s;
}

.p2{
    margin-left: 511px;
    display: flex;
    width: 100%;
}

.graytext
{
    margin: 0%;
    margin-left: 100px;
    font-size: 17px;
    color: gray;
    font-family: Livvic;
}

.graytext p
{
    margin: 0;
}

#contact
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    background-color: #002529;
    padding: 50px;  
}

.banner
{           
    background-color: #F67E7E;
    font-family: Livvic;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    height: 200px;
    padding:20px;
}

.rengtangle{
    position: absolute;
    border-radius: 24px;
    border: 2px solid #ffffff;
    width: 153px;
    height: 48px;
    background-color: transparent;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: white;
    margin-top: 4vw;
    text-align: center;
}

.button-dark{
    border-radius: 24px;
    border: 2px solid #012F34;
    width: 158px;
    height: 48px;
    color: #012F34;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    color: white;
    margin-top: -4%;
    margin-left: 80%;
    margin-right: 165px;
    text-align: center;
    display: grid;
    cursor: pointer;
    background-color: transparent;
}

.imageSize
{
    size: 15%;
    position: block;
}

.imageGroup
{
    display: flex;
}
