@keyframes start {
    /* 0%   {background-color:#012F34; color:#FFFFFF;} */
    100% {opacity: 1.0; margin-top: 0px;}
}



button.rengtangle{
    transition-duration: 0.5s;
}

button.regtangle-dark:hover{
    cursor: pointer; 
    background-color:#012F34;
    color:#FFFFFF;
}

button.regtangle-dark{
    transition-duration: 0.5s;
}

button.rengtangle:hover {
    cursor: pointer; 
    background-color:#FFFFFF;
    color:#012F34;
}



body{
    opacity: 0.0;
    margin-top: 200px;
    
}

body{
    opacity: 1.0;
    margin-top: 0px;
    transition: all .5s ease-in-out !important;
}

.myteam{ 
    opacity: 1.0;
}