body{
background-color: #014E56;
}

.myteam {
    margin-top: 77px;
    margin-left:165px;
    position: absolute;
}

.home {
    color: #FFF;
    margin-top: 83px;
    margin-left: 405px;
    position: absolute;
    font-family: Livvic;
    text-decoration: none;
}

.about {
    color: #FFFFFF;
    margin-top: 83px;
    margin-left: 494px;
    font-family: Livvic;
    position: absolute;
    text-decoration: none;
}

.rengtangle{
    border-radius: 24px;
    border: 2px solid #ffffff;
    width: 153px;
    height: 48px;
    background-color: transparent;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: white;
    margin-top: 4vw;
    left: 0;
    right: 0;
    text-align: center;
}

.Find {
    position: absolute ;
    color: #FFFFFF;
    text-align: left;
    font-size: 100px;
    line-height: 100px;

    margin-left: 165px;
    margin-top: 250px;
}
.pink{
    color: #F67E7E;
}



.textt {
    margin-top: 333px;
    margin-left: 830px;
    position: absolute;
    text-align: left;
    font-size: 18px;
    color: #FFFFFF;
}

.circles {
    position: absolute;
    margin-top: 250px;
    margin-right: 1340px;
    margin-left: 0%;
}

.line {
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background-color: #79C8C7;
    margin-top: 250px;
    margin-left: 830px;
    position: absolute;
}

.circlee {
    position: absolute;
    margin-top: 520px;
    margin-left: 1050px;

}
    


/*MyTeam Footer*/
.home2{
    color: #FFF;
    margin-top: 83px;
    margin-left: 90px;
    position: absolute;
    font-family: Livvic;
    font-size: 20px;
    text-decoration: none;
}

.about2{
    color: #FFF;
    margin-top: 83px;
    margin-left: 166px;
    position: absolute;
    font-family: Livvic;
    font-size: 20px;
    text-decoration: none;
}

.myteam2{
    margin-left: 5vw;
    margin-top: 2vw;
}

.button-dark{
    border-radius: 24px;
    border: 2px solid #012F34;
    width: 158px;
    height: 48px;
    color: #012F34;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    color: white;
    margin-top: -4%;
    margin-left: 80%;
    margin-right: 165px;
    text-align: center;
    display: grid;
    cursor: pointer;
    background-color: transparent;
}



.media{
display: flex;
row-gap: 10px;
font-size: 25px;
color: white;
height: 30px;
width: 120px;
cursor:pointer;
}


.media2,.media3,.media4{
    width: 40px;
}
.media2:hover,.media3:hover,.media4:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.p2{
    margin-left: 511px;
    display: flex;
    width: 100%;
}

.contact{
    background-color: #012F34;
    margin:60px;
}