@media (max-width:720){
    .textt{
        position: fixed;
        text-align: left;
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 300px;
        margin-left: 10%;
        width: 36%;
    }
}